
<%= render "shared/navbar" %>
<div class="container mt-5 mb-5">
  <div class="cards-wrapper">
    <% @parts.each do |part| %>
      <div class="card-listing">
        <div class="card-product">
          <% if part.photo.present? %>
            <%= cl_image_tag part.photo.key, height: 300, width: 400, crop: :fill %>
          <% else %>
            <%= image_tag 'logo.png', height: 300, width: 400, crop: :fill %>
          <% end %>
          <%= link_to "Details", @part, class: "btn btn-primary mt-3" %>
        </div>
        <div class="d-flex flex-row justify-content-between align-items-center">
          <div class="card-product-infos">
            <h2><%= part.name %></h2>
            <span class="price">$ <%= part.price %></span>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
<%= render "shared/footer" %>