
<div class="container p-5 mt-5 d-flex flex-row justify-content-center align-items-center">
  <div class="card-show m-5">
    <% if @part.photo.key.present?%>
      <%= cl_image_tag @part.photo.key %>
    <% else %>
       <%= image_tag 'space_baazar.png' %>
    <% end %>
  </div>

 <div class="card  card-fundo-description card-shadow-lg">
  <div class="card-body card-show_body">
    <h2 class="card-title"><%= @part.name %></h2>
    <ul class="list-group list-group-flush">
      <li class="list-group-item"><strong>Category:</strong> <%= @part.category %></li>
      <li class="list-group-item"><strong>Origin:</strong> <%= @part.origin %></li>
      <li class="list-group-item"><strong>Years:</strong> <%= @part.years %></li>
      <li class="list-group-item"><strong>Description:</strong> <%= @part.description %></li>
      <li class="list-group-item"><strong>Price:</strong> $<%= @part.price %></li>
      <li class="list-group-item"><strong>Seller:</strong> <%= @part.user.name %></li>

      <% if @part.completed %>
        <li class="list-group-item"><i class="fas fa-check-circle text-success"></i> <strong>Completed:</strong> Sold</li>
      <% else %>
        <li class="list-group-item"><i class="fas fa-times-circle text-danger"></i> <strong>Completed:</strong> Not sold</li>
      <% end %>
    </ul>
  </div>
</div>

</div>

</div>



<div class="d-flex justify-content-center gap-3" >
  <p><%= link_to "Back", root_path, class:'btn-page'%></p>
  <p><%= link_to "Edit", edit_part_path(@part), class:'btn-page'%></p>
  <% if @part.completed && @part.user == current_user %>
    <p><%= link_to "Delete", part_path(@part), data: {turbo_method: :delete}, class: 'btn-page'%></p>
  <% end %>
  <% if !@part.completed && @part.user != current_user %>
    <p><%= button_to "Order Now", orders_path(order: { user_id: current_user.id, part_id: @part.id }), method: :post, class: 'btn-page btn-page-2', remote: true %></p>
  <% end %>
</div>
