<div class="container mt-5">
  <div class="card card-image my-card-image2 my-5" >
      <div class="text-white my-auto">
        <h1 class="zindex-popover"><strong>My orders</strong></h1>
      </div>
  </div>

  <table class="table table-order">
    <thead>
      <tr>
        <th>Part</th>
        <th>Category</th>
        <th>Seller</th>
        <th>Actions</th>
        <th>Price</th>
      </tr>
    </thead>
    <tbody>
      <% @orders.each do |order| %>
        <tr>
          <td><%= order.part.name %></td>
          <td><%= order.part.category %></td>
          <td><%= order.part.user.name %></td>
          <td>
            <%= link_to "Show", part_path(order.part), class: "btn-page" %>
          </td>
          <td>$<%= order.part.price %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
