<%= render "shared/navbar" %>

<h1>Exemplo Lista imagens cloudnary</h1>
<% if flash[:success] %>
  <div class="flash flash-success alert alert-dismissible fade show" role="alert">
    <span><%= flash[:success] %></span>
    <a data-bs-dismiss="alert" aria-label="Close">
      <i class="fas fa-times"></i>
    </a>
  </div>
<% end %>
 <%# #Example of image cards with cloudnary %>
<% @parts = Part.all %>
<% @parts.each do |part| %>
  <div class="part">
    <h2><%= part.name %></h2>
    <% if part.photo.present? %>
      <%= cl_image_tag part.photo.key, height: 300, width: 400, crop: :fill %>
    <% else %>
      <%= image_tag 'logo.png', height: 300, width: 400, crop: :fill %>
    <% end %>
  </div>
<% end %>


